*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
    font-size: 1em;
}
a, img{
    display: block;
}
/* VARIABLES */
    /* colors */
$dark: #1E1E1E;
$dark-shadow: rgba(30, 30, 30, 0.3);
$neutral: #fff;
$cold: #ABCF76;
$accent: #FFA031;
$opacity: rgba(217,217,217,0.3);

/* STYLES */
@import "header.scss";
@import "home.scss";
@import "stay.scss";
@import "about.scss";
@import "contact.scss";
@import "galery.scss";
/* FONTS */
@import "https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap";

/* ANIMATIONS */
@keyframes hexa-rt{
    0%{
        transform: rotate(0deg);
    }50%{
        transform: rotate(15deg);
    }100%{
        transform: rotate(0deg);
    }
}
@keyframes hexa-lf{
    0%{
        transform: rotate(0deg);
    }50%{
        transform: rotate(-15deg);
    }100%{
        transform: rotate(0deg);
    }
}

/* GENERAL */
    /* structure */
.slide, .mi-slide{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
}
.mi-slide{
    min-height: 50vh;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
    /* text */
.text-box, .card, .img-visit, .form-group{
    line-height: 1.5em;
    letter-spacing: 0.1em;
    font-kerning: normal;
    h1, h2, h3{
        font-family: "Mukta Malar", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        padding-bottom: 0.5em;
        font-size: 1.5em;
    }
    h2{
        padding: 0;
    }
    h3{
        padding: 1em 1em 0 1em;
        font-weight: 200;
        font-size: 1em;
        text-transform: none;
    }
    p{
        font-family: "Neuton", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.2em;
    }
    input::placeholder, textarea::placeholder{
        font-family: "Mukta Malar", sans-serif;
        font-weight: 200;
        font-style: normal;
        text-transform: uppercase;
        padding-left: 1em;
        font-size: 1em;
        color: $cold;
    }
}
    /* call to action button #booking modal window */ 
a.callto, .form-button input {
    display: block;
    width: max-content;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Mukta Malar", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 1em;
    background-color: $dark;
    box-shadow: 2px 2px 4px $dark-shadow;
    border: none;
    color: $neutral;
    cursor: pointer;
    &:hover{
        background-color: $accent;
        transition: all .5s ease-in-out;
    }
}
// todo : transform text in strong !
a.accent-color{
    color: $accent;
    &:hover{
        font-weight: 500;
    }
}
    /* hexagon shaped image */
.hexa{
    height: 18em;
    width: 18em;
    z-index: 200;
    filter: drop-shadow(2px 2px 4px $dark-shadow);
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top left;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }
    a{
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        transition: rotate(15deg) 2s ease-out 100ms;
        animation-play-state: paused;
    }
    a:hover{
        animation-play-state: running;
    }
}